.layout {
  max-width: 1440px;
  margin: auto;
}

.main-container {
  display: flex;
  position: relative;
  margin-top: 1rem;
}

.sidebar {
  position: fixed;
  width: 225px;
  overflow-y: scroll;
  top: 1rem;
  bottom: 1rem;
  -webkit-box-shadow: 0px 0px 25px 2px rgb(49, 124, 153);
  -moz-box-shadow: 0px 0px 25px 2px rgb(49, 124, 153);
  box-shadow: 0px 0px 25px 2px rgb(49, 124, 153);
}

.sidebar .loading {
  text-align: center;
  letter-spacing: 3px;
}

.sidebar button {
  width: auto;
  height: auto;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

.sidebar button img {
  width: 200px;
  height: 200px;
  opacity: 0.5;
  transition: 0.2s;
}

.sidebar button img:hover {
  opacity: 1;
}

.sidebar button img.active {
  opacity: 1;
}

.main {
  width: 100%;
  margin-left: 240px;
  padding-left: 1rem;
  letter-spacing: 2px;
  color: #333;
}

.main .loading {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.main img {
  width: 100%;
  height: 100%;
}
